<% title = "Edit Diagnosis" %>
<%- include("layout/headerID")%>
<section>
        <main>
        <form action="/editDiagnosis/<%-diags['_id']%>" method="post"> 
        
                <p>Patient ID: <input type="hidden" name="Username" value=" <%- u_id %>"> </p>
                <p>Patient ID: <input type="text" name="patientid" value="<%-diags['patientid']%>"> </p>
                <p>Complaint: <input type="text" name="complaint" value="<%-diags['complaint']%>"> </p>
                <p>Recommendation: <input type="text" name="recommendation" value="<%-diags['recommendation']%>">  </p>
                <button type="submit">submit</button>
        </form>
        </main>
</section>
<%- include("layout/footer")%>