<% title = "Edit Diagnosis" %>
<%- include("layout/headerID")%>
<section>
        <main>
        <form action="/editDiagnosis/<%-diags['_id']%>" method="post"> 
        
                <input type="hidden" name="Username" value=" <%- u_id %>">
                <p>Patient ID: <input type="text" name="patientid" value="<%-diags['patientid']%>"> </p>
                <p>Complaint: <br><textarea name="complaint" rows="10" cols="30"><%-diags['complaint']%> </textarea> </p>
                <p>Recommendation: <br> <textarea rows="10" cols="30"name="recommendation"> <%-diags['recommendation']%> </textarea> </p>
                <button type="submit">Update</button>
        </form>
        </main>
</section>
<%- include("layout/footer")%>