<% title= "Signup" %>
<%- include("layout/header") %>
            <form action="/signup" method="post">
                    <p>Firstname: <input type="text" name="firstname"
                        value="<%= typeof firstname != 'undefined' ? firstname : '' %>"></p>
                    <p>Lastname: <input type="text" name="lastname"
                        value="<%= typeof lastname != 'undefined' ? lastname : '' %>"></p>
                    <p>Gender: Male <input type="radio" name="gender" value="Male"
                        <% if(typeof gender != 'undefined' && gender === 'Male'){ %> checked="checked" <%}%>
                        >
                              Female <input type="radio" name="gender" value="Female"
                        <% if(typeof gender != 'undefined' && gender === 'Female'){ %> checked="checked" <%}%>
                        >
                    </p>
                    
                    <p>Phone number: <input type="text" name="phoneNumber"
                        value="<%= typeof phoneNumber != 'undefined' ? phoneNumber : '' %>">
                    </p>

                    <p>Qualification: B.Sc <input type="radio" name="qualification" value="B.Sc" 
                        <% if(typeof qualification != 'undefined' && qualification === 'B.Sc'){ %> checked="checked" <%}%>
                        >             M.Sc <input type="radio" name="qualification" value="M.Sc"
                        <% if(typeof qualification != 'undefined' && qualification === 'M.Sc'){ %> checked="checked" <%}%>
                        >             Ph.D <input type="radio" name="qualification" value="P.hd"
                        <% if(typeof qualification != 'undefined' && qualification === 'P.hd'){ %> checked="checked" <%}%>
                        >                  
                    </p>
            
                <% let speciality = ["General Medicine", "General Surgeon", "Neuro Surgeon",
                                    "physiotherapist", "Gynecologist", "Dentist", "Optamologist"] %>

                <p>Specialization🩺: <select name="specialization">
                            <option value="">Select qualification</option>
                                <%speciality.map((special) =>{ %>
                            <option value="<%-special%>""<% if(typeof specialization != 'undefined' ){%>" selected="selected" <%}%>> 
                                        <%-special%></option>
                                <%})%>
                </select></p>

                <p>Hospital Name: <input type="text" name="hospitalName"
                    value="<%= typeof hospitalName != 'undefined' ? hospitalName : '' %>"hospitalName></p>
                <p>Email: <input type="text" name="email"
                    value="<%= typeof email != 'undefined' ? email : '' %>"></p>
                <p>Preferred Username: <input type="text" name="username"
                    value="<%= typeof username != 'undefined' ? username : '' %>"></p>
                <p>Password: <input type="text" name="pass1"
                    value="<%= typeof pass1 != 'undefined' ? pass1 : '' %>"></p>
                <p>Confirm Password: <input type="text" name="pass2"
                    value="<%= typeof pass2 != 'undefined' ? pass2 : '' %>"></p>

                <input type="submit" value="click to submit">
            </form>
    
<%- include("layout/footer") %>