<% title = "View Patient" %>
<%- include("layout/D-header")%>

        <table border="1">
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Mobile</th>
                <th>Status</th>
                <th>BloodGroup</th>
                <th>Genotype</th>
                <th>Add Diagnosis</th>
                <th>View Diagnosis</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr>
                <% patients.map((patient)=> { %>
                <td> <%-patient.firstname +" - "+ patient.lastname%> </td>
                <td> <%-patient.sex%> </td>
                <td> <%-patient.phone%> </td>
                <td> <%-patient.status%> </td>
                <td> <%-patient.bloodGroup%> </td>
                <td> <%-patient.genotype%> </td>
                <td> <a href="/addDiagnosis/<%-patient._id%>">Add Diagnosis</a></td>
                <td> <a href="/viewDiagnosis/<%-patient._id%>">View Diagnosis</a></td>
                <td> <a href="/edit/<%-patient._id%>">Edit</a>  </td>
                <td> <a href="/delete/<%-patient._id%>">Delete</a> </td>
            </tr>
            <% }) %> 
        </table>

 
<%- include("layout/footer")%>