<% title = "Patient Diagnosis" %>
<%- include("layout/D-header")%> 
        <table border="1">
            <tr align="center">
                <th>Dr.</th>
                <th>Complain</th>
                <th>Recommendation</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr align="center">
                <td> <%-diags['username']%> </td>
                <td> <%-diags['complaint']%> </td>
                <td> <%-diags['recommendation']%> </td>
                <td> <a href="/editDiagnosis/<%-diags.patientid%>">editDiag</a>  </td>
                <td> <a href="/deleteDiagnosis/<%-diags._id%>">delDiag</a> </td>

            </tr>
        </table>
<%- include("layout/footer")%>